<h2>Welcome to Simple-Library</h2>

<% if @current_user.student? %>
<ul class="list-group">
    <!-- List of libraries -->
    <li class="list-group-item">View Libraries</li>
    <!-- List of all books -->
    <li class="list-group-item">View all books</li>
    <!-- List of books rented -->
    <li class="list-group-item">Manage borrowed books</li>
</ul>
<% end %>

<% if @current_user.librarian? %>
<ul class="list-group">
    <!-- List of libraries -->
    <li class="list-group-item">View Libraries</li>
</ul>
<% end %>