<h3>Edit Library</h3>

<%= render 'form', library: @library, form_url: library_path(@library), submit_label: 'Update Library' %>

<!-- <%= link_to 'Show', @library %> | -->
<%= link_to 'Back', libraries_path %>