<h3>Students with Overdue Fine</h3>

<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>University</th>
      <th>Fine</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% flag = 0 %>
    <% @objects.each do |student_id, fine| %>
    <tr>
      <%if fine > 0 %>
        <% flag = 1 %>
        <% student = User.find(student_id) %>
        <td><%=student.name%></td>
        <td><%=student.university%></td>
        <td><%=fine%></td
      <% end %>
    </tr>
    <% end %>
    <% if flag == 0 %>
        No Student with Overdue Fine
    <% end %>
  </tbody>
</table>

<br>