// Place all the styles related to the Contains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-details {
    float: right;
}

.book-summ {
    float: left;
    .img-details {
        float: left;
        width: 100%;
        height: 250px;
    }
    
    .summary-details {
        float: left;
        width: 100%;
        margin-top: 5%;
        padding: 2%;
    }

    .book-actions {
        float: left;
        width: fit-content;
        margin-top: 5%;
        padding: 0.5%;
    }
}
