<nav class="navbar navbar-dark bg-primary">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Simple Library</a>
    </div>

    <nav>
        <ul class="nav nav-pills navbar-right">

            <% if user_signed_in? %>

            <!--TODO: remove hardcoded color-->
            <li class="nav-item">
                <%= link_to "Profile - #{current_user.name}", edit_user_registration_path, class: "nav-link nav-link-item" %>
            </li>
            <li class="nav-item" style="color: white">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link nav-link-item"%>
            </li>
            <% end %>

        </ul>
    </nav>
</nav>